@@ -4,24 +4,29 @@
<head>
  <script data-require="jquery@*" data-semver="2.1.1" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <link data-require="bootstrap@*" data-semver="3.2.0" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css" />
  <script data-require="bootstrap@*" data-semver="3.2.0" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.js"></script>
  <script data-require="bootstrap@*" data-semver="3.2.0" type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.js"></script>
  <script data-require="angular.js@*" data-semver="1.3.0" src="//code.angularjs.org/1.3.0/angular.js"></script>
  <link rel="stylesheet" href="server.css" />
  <script src="server.js"></script>
</head>

<body>
  <div class="dropdown dropdown-scroll" ng-app="app">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">Select a student from List <span class="caret"></span>

   <!--<select name="repeatSelect" id="repeatSelect" ng-model="data.model">
      <option ng-repeat="item in items | filter:query1" value="{{item.CLASS_SECTION}}">{{item.CLASS_SECTION}}</option>
    </select>-->

  <div class="dropdown dropdown-scroll" ng-app="app" ng-controller="ListCtrl">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"  >{{query}}<span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" ng-controller="ListCtrl">
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" >
      <li role="presentation">
        <div class="input-group input-group-sm search-control"  ng-click="selectItem(item)"><span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
          <input type="text" class="form-control"  ng-model="query">
        <div class="input-group input-group-sm search-control" ><span class="input-group-addon"><span class="glyphicon glyphicon-search" ng-click="selectedItemChange(item)"></span></span>
          <input type="text" class="form-control"  ng-model="query1">
        </div>
      </li>
      <li role="presentation" ng-repeat='item in items | filter:query'>
        <a href="#"> {{ item.CLASS_SECTION }}-{{ item.ADMISSION_ID }}-{{ item.NAME }}-{{ item.FATHER_NAME }} </a>
      <li role="presentation" ng-repeat='item in items | filter:query1'>
        <a ng-click=selectedname(item)> {{ item.CLASS_SECTION }}-{{ item.ADMISSION_ID }}-{{ item.NAME }}-{{ item.FATHER_NAME }}  </a>
      </li>
    </ul>
  </div>
